.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px;
  font-size: 12px;
  color: #929292;
  background-color: #252525;
}

.amongus-icon {
  position: fixed;
  right: 0;
  bottom: 4px;
  text-align: right;
  padding-right: 10px;
}